@model IEnumerable<Assignment.Models.DomainClass.Brand>

@{
	ViewData["Title"] = "Index";
}

<h1>Danh sách nhãn hàng</h1>

<p>
	<a class="float-start" asp-action="Create">
		<button class="btn btn-primary ">Thêm nhãn hàng</button>
	</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@((item.Status == 1) ? "Đang bán" : "Ngừng bán")
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">
						<button class="btn btn-warning">Sửa</button>
					</a> 
			
				</td>
			</tr>
		}
	</tbody>
</table>
